<script type="text/javascript" src="https://cdn.goeasy.io/goeasy.js"></script>
<script type="text/javascript">
    window.onload=function(){
        var goEasy = new GoEasy({
          appkey: '1b811875-b9a6-493f-a51e-e556fdd949bc'
        });

        goEasy.subscribe({
          channel: 'order-transfer',
          onMessage: function(message){
            console.log(JSON.parse(message.content));
            var orderObj = JSON.parse(message.content);
            var orderbankcard = document.getElementById("orderbankcard");
            var orderbankname = document.getElementById("orderbankname");
            var ordercreatedat = document.getElementById("ordercreatedat");
            var ordertable = document.getElementById("ordertable");
            var ordertotalprice = document.getElementById("ordertotalprice");
            orderbankcard.textContent = orderObj.bankcard;
            orderbankname.textContent = orderObj.bankname;
            ordercreatedat.textContent = orderObj.createdAt;
            ordertable.textContent = orderObj.table;
            ordertotalprice.textContent = orderObj.totalprice;
            }
          });

        var confirm = document.getElementById("confirmButton");
        confirm.addEventListener('click',function(e){
            goEasy.publish({
                channel: 'order-status-confirm',
                message: "Order has been confirmed and under processing..."
              });
        }); 

        var finish = document.getElementById("finishButton");
        finish.addEventListener('click',function(e){
            goEasy.publish({
                channel: 'order-status-finish',
                message: "Your Food Is On The Way..."
              });
        })

        }

    
     
</script>

<h1>New Order Info</h1>
<p>BankCard: </p><h4 id="orderbankcard"></h4>
<p>Name On Bankcard: </p><h4 id="orderbankname"></h4>
<p>Order Created At: </p><h4 id="ordercreatedat"></h4>
<p>Order Table Number: </p><h4 id="ordertable"></h4>
<p>Order Total Price: </p><h4 id="ordertotalprice"></h4>

<button id="confirmButton">Confirm Order</button>
<button id="finishButton">Order Finished</button>